Flask==3.0.3
Flask-Cors==5.0.0


pillow==10.4.0
platformdirs==4.3.8
postgrest==0.16.11
prompt_toolkit==3.0.51
psutil==7.0.0
psycopg2==2.9.10
pure_eval==0.2.3
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
PyJWT==2.10.1
pypng==0.20220715.0
PyQRCode==1.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
gunicorn 
qrcode==7.4.2

reportlab==4.2.2
requests==2.32.5

supabase==2.4.5
supabase_auth==2.12.3
supabase_functions==0.10.1
supafunc==0.4.7



